app/src/images/**/*.jpg  filter=lfs diff=lfs merge=lfs -text
app/src/images/**/*.png  filter=lfs diff=lfs merge=lfs -text
app/src/images/**/*.webp  filter=lfs diff=lfs merge=lfs -text
app/public/*icon*.png  filter=lfs diff=lfs merge=lfs -text
app/public/avatar-*.png  filter=lfs diff=lfs merge=lfs -text
app/public/box-*.png  filter=lfs diff=lfs merge=lfs -text
app/public/box-*.webp  filter=lfs diff=lfs merge=lfs -text
app/public/cover-*.jpg  filter=lfs diff=lfs merge=lfs -text
app/public/cover-*.webp  filter=lfs diff=lfs merge=lfs -text
app/public/rules-*.pdf  filter=lfs diff=lfs merge=lfs -text